<!DOCTYPE html>
<html>
  <head>
    <title><%= test %></title>
    <link rel='stylesheet' href='/stylesheets/css/database.css' />
  </head>
  <body>
    <h1><%= test %></h1>
    <p>Welcome to <%= test %> page</p>
    <p>test page text</p>
    <p>showing some yellow text below from sass</p>
    <p class="yellow">yellow text</p>
  </body>
</html>
